<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	<insert id="addBoard1" parameterType="java.util.HashMap">
 		insert into board values(#{no}, #{bigcate}, #{smallcate}, #{title}, null, #{price}, #{writer}, sysdate, #{content},0,0)	
	</insert>
	<insert id="addBoard2" parameterType="java.util.HashMap">
	 	insert into board values(#{no}, #{bigcate}, #{smallcate}, #{title}, #{imgpath}, #{price}, #{writer}, sysdate, #{content},0,0)
	</insert>
	<insert id="addWishlist" parameterType="java.util.HashMap">
		insert into wishlist values(wishlist_seq.nextval, #{buyer}, #{seller})
	</insert>
	<select id="getBoardList" resultType="java.util.HashMap">
		select * from board order by no desc	
	</select>
	<select id="getDetailBoard" parameterType="java.lang.Integer" resultType="java.util.HashMap">
		select * from board where no=#{no}
	</select>
	
	<!-- 카테에 맞는 게시글 블로우는 매퍼 -->
	<select id="getCateBoard" parameterType="java.lang.Integer" resultType="java.util.HashMap">
		select * from board join bigcate on board.bigcate = bigcate.no where board.bigcate = #{bigcate}
	</select>
	
	<select id="getCate" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * from bigcate join smallcate on bigcate.no = smallcate.bigno where bigcate.no = #{bigcate} and smallcate.smallno = #{smallcate}
	</select>
	
	<update id="updateDetailBoard" parameterType="java.util.HashMap">
		update board set price=#{price}, content=#{content} where no=#{no}
	</update>
	
	<select id="getSearchListByList" parameterType="java.util.List" resultType="java.util.HashMap">
		select * from board where title like <foreach collection="list" item="searchKey" separator=" and title like ">#{searchKey}</foreach>
		or content like <foreach collection="list" item="searchKey" separator=" and content like ">#{searchKey}</foreach>
	</select>

	<select id="getSearchListByString" parameterType="java.lang.String" resultType="java.util.HashMap">
		select * from board where title like #{searchKey} or content like #{searchKey}
	</select>
	
	<delete id="deleteDetailBoard" parameterType="java.lang.Integer">
		delete from board where no=#{no}
	</delete>
	
	<select id="boardCount" resultType="java.lang.Integer">
		select count(*) from board
	</select>
	
	<select id="getSequenceVal" resultType="java.lang.Integer">
		select board_seq.nextval from dual
	</select>
	<!-- 댓글 -->
	<insert id="WriteReply" parameterType="java.util.HashMap">
	insert into reply values(reply_seq.nextval,#{bno},#{writer},#{content},to_char(sysdate,'yyyymmdd'),#{star},#{star_num})
	</insert>
	

	<select id="ReplyList" parameterType="java.lang.Integer" resultType="java.util.HashMap">
	select * from reply where bno= #{bno} order by rno desc
	</select>

	<select id="getWishlist" parameterType="java.lang.String" resultType="java.util.HashMap">
		select seller from wishlist where buyer=#{buyer}
	</select>
	
	<select id="getBoardListBySeller" parameterType="java.lang.String" resultType="java.util.HashMap">
		select * from board where writer=#{writer}
	</select>
	
 	<select id="onlyreply" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * from reply where bno=#{bno} and writer=#{writer}
	</select>
	
	<update id="modify_reply" parameterType="java.util.HashMap">
		update reply set content=#{content} , star=#{star} , star_num=#{star_num} where writer=#{writer} and bno=#{bno}
	</update>
	
	<delete id="deletereply" parameterType="java.util.HashMap">
		delete from reply where writer=#{writer} and bno=#{bno} 
	</delete>
	
	<delete id="deleteWishList" parameterType="java.util.HashMap">
		delete from wishlist where buyer=#{buyer} and seller=#{seller}
	</delete>
	
	<select id="getsmallcatelist" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * from board join (select*from bigcate join smallcate on bigcate.NO = smallcate.BIGNO )a on board.bigcate = a.bigno and board.smallcate = a.smallno where board.bigcate = #{bigcate} and board.smallcate=#{smallcate}
	</select>
</mapper>