<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pay">
	
	<insert id="addBuy">
		insert into pay values(pay_seq.nextval, #{postno}, #{seller}, #{price}, #{buyer}, sysdate, 1 , 1)
	</insert>
	
	<select id="allPayCount" resultType="java.lang.Integer">
		select count(*) from pay
	</select>
	
	<select id="allPercent" resultType="java.lang.Integer">
		select round(avg(c.s))*20 from pay join (select bno, avg(star_num)s from reply group by bno order by bno)c on pay.postno = c.bno
	</select>
	
</mapper>