<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="seller">

	<!-- <insert id="addSeller" parameterType="java.util.HashMap"> insert into 
		account_profile values(#{id},#{academy},#{career},#{imgpath},#{introuce}) 
		</insert> -->

	<update id="updateSeller1" parameterType="java.util.HashMap">
		update account_profile
		set career = #{career} , academy=#{academy} ,
		imgpath=#{imgpath},
		introduce=#{introduce},oneline=#{oneline},licence=#{licence}
		where
		id=#{id}
	</update>

	<update id="updateSeller2" parameterType="java.util.HashMap">
		update account_profile
		set career = #{career} , academy=#{academy} ,
		introduce=#{introduce},oneline=#{oneline},licence=#{licence}
		where
		id=#{id}
	</update>

	<select id="getSeller" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		select*from account_profile where id = #{id}
	</select>
	
	<select id="get_myboard" parameterType="java.lang.String" resultType="java.util.HashMap">
		select * from board where writer=#{id}
	</select>

	<select id="dayprices" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		select to_char(buydate,'YY-MM-DD')as d,seller,sum(price) as sum from pay where buydate &gt;=#{date1} and #{date2}&gt; buydate and seller=#{seller} group by to_char(buydate,'YY-MM-DD'),seller order by d asc
	</select>

	<select id="Moonprices" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		select to_char(buydate,'YY-MM')as d,seller,sum(price) as sum from pay where buydate &gt;=#{date1} and #{date2}&gt; buydate and seller=#{seller} group by to_char(buydate,'YY-MM'),seller order by d asc	
	</select>

	<select id="yearprices" resultType="java.util.HashMap"	parameterType="java.util.HashMap">
		select to_char(buydate,'YY')as d,seller,sum(price) as sum from pay where buydate &gt;=#{date1} and #{date2}&gt; buydate and seller=#{seller} group by to_char(buydate,'YY'),seller order by d asc
	</select>


	<!-- 블로그 평가 불러오기 -->
	<select id="myboardcount" parameterType="java.lang.String"
		resultType="java.lang.String">
		select count(*) as boardcount from board where
		writer=#{SellerId}
	</select>

	<select id="wishcount" parameterType="java.lang.String"
		resultType="java.lang.String">
		select count(*) as wishcount from wishlist where
		seller=#{SellerId}
	</select>

	<select id="staravg" parameterType="java.lang.String"
		resultType="java.lang.String">
		select round(avg(star_num)*20) as staravg from reply join
		board on
		reply.bno=board.no
		where board.writer=#{SellerId}
	</select>
</mapper>