<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wishlist">
	
	<insert id="addWishlist" parameterType="java.util.HashMap">
		insert into wishlist values(wishlist_seq.nextval, #{buyer}, #{seller})
	</insert>
	
	
	<select id="getWishlist" parameterType="java.lang.String" resultType="java.util.HashMap">
		select seller from wishlist where buyer=#{buyer}
	</select>
	
	
	<delete id="deleteWishList" parameterType="java.util.HashMap">
		delete from wishlist where buyer=#{buyer} and seller=#{seller}
	</delete>
	
	
</mapper>